# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines, no blank line at the end of a file
[*]
end_of_line = lf
insert_final_newline = false


[*.{json,yml,yaml,xml,csproj,props,targets,sln,slnx}]
indent_size = 2
